*,
*:before,
*:after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(red, yellow);
}
.container{

    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50% );
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}
#newtask{
    position: relative;
    background-color: white;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0 15px 30px orange;

}
#newtask input{
    width: 70%;
    height: 45px;
    font-family: sans-serif
    font-size 15px;
    border: 2px solid red;
    color: black;
    font-weight: 800;
    position:relative;
    padding:12px;

}
#newtask input:focus{
    outline: none;
    border-color: red;
}

#newtask button{
    position: relative;
    float: right;
    width: 60px;
    height: 45px;
    border-radius:0px;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(255, 72, 0);
    border: none;
    cursor:pointer;
}
#tasks{
    background-color: white;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.task{
    background-color: rgb(255, 144, 80);
    height: 50px;
    padding: 5px 10px;
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid brown;
    cursor: pointer;

}
.task span{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    
}
.task button {
    background-color: orangered;
    color: beige;
    height: 100%;
    width: 40px;
    border-radius:5px;
    cursor:pointer;
    outline: none;
}
header{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: center;
    height: 10%;
    padding: 0px 0px;
    color: coral;
}
.completed{
    text-decoration: line-through;
}
